.sidebar-brand {
  padding-top: 20px;
  text-align: center;
  height: 60px;

  a { color: #fff; }
}

.navbar {
  &-item span {
    border: 0;
    &:hover { border: 0; }
  }
}

.is-paddingless-top { padding-top: 0 !important; }
.is-paddingless-right { padding-right: 0 !important; }
.is-paddingless-bottom { padding-bottom: 0 !important; }
.is-paddingless-left { padding-left: 0 !important; }

.is-margin-small { margin: 0.5rem !important; }
.is-margin-medium { margin: 1rem !important; }
.is-margin-large { margin: 2rem !important; }

.is-margin-top-small { margin-top: 0.5rem !important; }
.is-margin-right-small { margin-right: 0.5rem !important; }
.is-margin-bottom-small { margin-bottom: 0.5rem !important; }
.is-margin-left-small { margin-left: 0.5rem !important; }

.is-margin-top-medium { margin-top: 1rem !important; }
.is-margin-right-medium { margin-right: 1rem !important; }
.is-margin-bottom-medium { margin-bottom: 1rem !important; }
.is-margin-left-medium { margin-left: 1rem !important; }

.is-margin-top-large { margin-top: 2rem !important; }
.is-margin-right-large { margin-right: 2rem !important; }
.is-margin-bottom-large { margin-bottom: 2rem !important; }
.is-margin-left-large { margin-left: 2rem !important; }

.has-shadow-right {
  box-shadow: 4px 0 10px rgba(0, 0, 0, 0.35)
}

.offcanvas {
  z-index: 1;
  background: rgba(9,56,82,1);
  background: -moz-linear-gradient(-45deg, rgba(9,56,82,1) 0%, rgba(8,49,71,1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(9,56,82,1)), color-stop(100%, rgba(8,49,71,1)));
  background: -webkit-linear-gradient(-45deg, rgba(9,56,82,1) 0%, rgba(8,49,71,1) 100%);
  background: -o-linear-gradient(-45deg, rgba(9,56,82,1) 0%, rgba(8,49,71,1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(9,56,82,1) 0%, rgba(8,49,71,1) 100%);
  background: linear-gradient(135deg, rgba(9,56,82,1) 0%, rgba(8,49,71,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#093852', endColorstr='#083147', GradientType=1 );

  .menu-list li {
    background: transparent !important;

    a {
      position: relative;
      display: flex;
      padding: 1em;
    }

    span.icon:not(.is-pulled-right) {
      margin-right: 10px;
      font-size: 1.3rem;
    }

    span.item-link-title {
      line-height: 1.5;
    }

    span.icon.is-pulled-right {
      position: absolute;
      right: 10px;
      font-size: 13px;
    }
  }
}

.react-datepicker-wrapper,
.react-datepicker__input-container {
  width: 100%;
}