.sidebar-brand {
  padding-top: 20px;
  text-align: center;
  height: 60px;

  a {
  	color: #fff;
  }
}

.is-paddingless-right {
	padding-right: 0 !important;
}

.is-margin-top-small {
  margin-top: 0.5rem !important;
}

.is-margin-top-medium {
  margin-top: 1rem !important;
}